# Proxmox Configuration
proxmox_api_url          = "https://localhost:8006/api2/json"
proxmox_api_token_id     = "user"
proxmox_api_token_secret = "password"

# SSH Configuration
ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC... your-ssh-public-key-here"

# Infrastructure Configuration
control_plane_count = 1
worker_count       = 3
proxmox_node      = "ami"

# Network Configuration  
gateway = "10.0.0.1"

# Storage Configuration
storage_pool    = "local-lvm"
network_bridge  = "vmbr0"
template_id     = "base-122-disk-0"